.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.blurb {
  grid-column: 1/3;
  justify-self: center;
  display: grid;
  justify-items: center;
}

.home h2,
h3 {
  font-family: "Denton", sans-serif;
}

.home a {
  background: white;
  border: 3px solid black;
  padding: 1rem;
}

.home a:hover {
  background: black;
}

.github-container {
  padding: 0.5rem;
  border: 3px solid black;
  margin: 0.5rem;
  background-color: #fff5ee;
}

.github-container a {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.commit {
  display: grid;
  grid-template-columns: 1rem 6rem 1fr;
  align-items: center;
}

.commit:last-of-type {
  margin-bottom: 0.4rem;
}

.commit i {
  font-size: 2rem;
}

.commit time {
  text-align: center;
}
